* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: sans-serif;
}
h4 {
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Flex */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

/* Gameover Text and Button */
.endgame {
    margin: 20px;
    text-align: center;
}
.text {
    font-size: 2rem;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 10px;
    color: #333333;
    background-color: white;
    transition: all 0.3s ease;
    margin: 10px 0px;
}
button:hover {
    background-color: #333;
    color: white;
}


/* Board / Table */
table {
    border-collapse: collapse;
}

td {
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 2px solid #333;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
}

table tr:first-child td {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}
table tr td:first-child {
    border-left: none;
}
table tr td:last-child {
    border-right: none;
}
